.main-container {
    background-color: $col-container;
    min-height: min-content;
    max-width: 690px;
    margin: auto;
    margin-top: 10vh;
    padding: 75px 20px;
    position: relative;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .main-info {
        max-width: 100%;
    }
    .main-options {
        display: none;
        padding: 20px 20px;
        background-color: $col-dashboard;
        &__pass-length {
            input {
                max-width: 40px;
                height: 40px;
                padding: 5px;
                display: inline-block;
                border: none;
                background-color: $col-accent;
                color: $col-dashboard;
                text-align: center;
            }

            &_descr {
                display: inline-block;
                margin-left: 15px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $col-back
            }
        }
    }
}



.title {
    display: flex;
    width: 50%;
    height: 80px;
    margin: 0 25px;
    &__text {
        margin-left: 15px;
        margin-top: -6px;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: $col-accent;
    }
}

.subtitle {
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 25px;
    margin-top: 45px;
    a {
        color: $col-accent;
        text-decoration: none;
    }
}

.field {
    margin-top: 45px;
    background-color: $col-dashboard;
    max-height: max-content;
    padding: 34px 22px;
    .btn__main {
        cursor: pointer;
        transition: 0.6s all;
        width: 290px;
        height: 48px;
        background-color: $col-accent;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        text-align: center;
        &:hover {
            font-size: 16px;
            background-color: #C495A0;
        }
        &:active {
            transition: 0.2s all;
            font-size: 15px;
            background-color: $col-dashboard;
        }
    }
    &__output-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        &_out {
            width: 290px;
            height: 48px;
            background-color: white;
            padding: 14px 5px;
            margin-top: 10px;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 0.2em;
                color: #000000;
                line-height: 18px;
                text-align: center;
        }
    }
}

.version {
    font-weight: 400;
    font-size: 14px;
    color: $col-back;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 20px;
}